################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SpectruMineAPI/.vs/SpectruMineAPI
/SpectruMineAPI/obj
/SpectruMineAPI/bin/Debug/net7.0
