[Service]
    WorkingDirectory=/home/master/dev/back/Publish/
    ExecStart=/home/master/dev/back/Publish/SpectruMineAPI
    Type=idle
    KillMode=process

    SyslogIdentifier=smart-test
    SyslogFacility=daemon
    Restart=on-failure
[Install]
    WantedBy=multiuser.target