[Unit]
    Disctiption=SpectruMAPI Service
[Service]
    RootDirectory=/home/master/dev/back/Publish/
    ExecStart=SpectruMineAPI
    Type=idle
    KillMode=process

    SyslogIdentifier=smart-test
    SyslogFacility=daemon
    Restart=on-failure
[Install]
    WantedBy=multiuser.target